image.header(
  src="../../images/header.png",
)

view.main-nav
  button.add-new-button(
    wx:if="{{logged}}",
    disabled="{{isUploading}}",
    loading="{{isUploading}}",
    bindtap="doUpload",
  )
    image.button-icon(
      src="../../images/upload.png",
    )
    view
      text.button-label 上传图片
      text.button-label-hint 选择您的大头照，进行卡通化
  button.add-new-button(
    wx:else,
    open-type="getUserInfo",
    bindgetuserinfo="onGotUserInfo",
    disabled="{{isLoggingIn}}",
    loading="{{isLoggingIn}}",
  )

    image.button-icon(
      src="../../images/upload.png",
    )
    view
      text.button-label 上传图片
      text.button-label-hint 选择您的大头照，进行卡通化

view.version-number v0.1.4
