view.header
  image.avatar(
    wx:if="{{userInfo}}",
    src="{{userInfo.avatarUrl}}",
    mode="aspectFill",
  )
  button.get-user-info(
    wx:else,
    open-type="getUserInfo",
    bindgetuserinfo="onGotUserInfo",
    disabled="{{logging}}",
    loading="{{logging}}",
  ) 登录

view.photo-list
  navigator.photo-item(
    wx:for="{{list}}",
    wx:key="id",
    url="{{'/pages/my/photo?id=' + item.id}}",
  )
    image.photo-image(
      src="{{item.url}}",
      mode="aspectFill",
    )
